@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/texto.css);


:root{
    --cor-de-fundo: #1A120B;
    --preto: #000000;
    --roxo: #322653;
    --cor--fonte-princial: #E5E5CB;
    --cor-branco: #ffffff;

    --fonte-principal: "Abel"
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}